page-login {

  .logo-container{
    text-align: center;
    margin-top:10px;
    img{
      width: 100%;
      max-width:200px;
      height: auto;
    }
  }

  .how-to-login{
    font-size:medium!important;
    height: 20px!important;
    border:0!important;
    background-color: transparent!important;
    color: map-get($colors, light)!important;
  }

  .ion-title-text{
    font-size:medium!important;
    color: map-get($colors, dark)!important;
  }

  .input-clientcode{
    margin-top: 20px;
    padding-left:0!important;
  }

  .input-icon{
    margin-left:15px!important;
  }

  .remember-me{
    font-size:small!important;
  }


}
