page-settings {

  .padding-right{
    padding-right: 0px!important;
  }

  .padding-left{
    padding-left: 0px!important;
  }

  .title{
    font-size: large!important;
    font-style: bold!important;
  }

}
