page-map {
  *::-webkit-input-placeholder {
    color: map-get($colors, light) !important;
  }
  *:-moz-placeholder {
    color: map-get($colors, light) !important;
  }
  *:-ms-input-placeholder { /* IE10+ */
    color: map-get($colors, light) !important;
  }

  ion-icon{
    color:map-get($colors, light)!important;
  }

  .scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
  }
}
