page-rsr {

  ion-input{
    font-size: large!important;
  }
  ion-card{
    padding-right: 8px!important;
  }

  ion-row{
    height:100%!important;
    align-items: center!important;
  }
  .organico{
    font-size: 100px!important;
    color: #49311c!important;
    margin:0 auto!important;
  }

  .plastica{
    font-size: 100px!important;
    color: #ffff00!important;
    margin:0 auto!important;
  }

  .carta{
    font-size: 100px!important;
    color: #d9d9d9!important;
    margin:0 auto!important;
  }

  .indifferenziato{
    font-size: 100px!important;
    color: #006600!important;
    margin:0 auto!important;
  }

  .vetro{
    font-size: 100px!important;
    color: #000099!important;
    margin:0 auto!important;
  }



}
