page-menu {
  ion-card{
    padding-top:25px;
    background-color: map-get($colors, tertiary)!important;
    color: map-get($colors,light)!important;
  }
  ion-icon{
    font-size:60px!important;
  }
}
