// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.platform-android .secondNav {
  min-height: 40px !important;
}

.secondNavTitle {
  font-size: medium;
}

.platform-ios .secondNavTitleContainer {
  margin-top: -1px !important;
}

.platform-android .secondNavTitleContainer {
  margin-top: -4px !important;
}

.text-center {
  text-align: center;
}

.okMessage {
  > div {
    background-color: #18ab10 !important;
    text-align: center !important;
  }
}

.warningMessage {
  > div {
    background-color: #FFCC00 !important;
    text-align: center !important;
  }
}

.button-icon{
  margin-left:10px!important;
  font-size:large!important;
}

.koMessage {
  > div {
    background-color: map-get($colors, danger) !important;
    text-align: center !important;
  }
}

.full-height {
  height: 100%;
}

.vertical-align-content > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.flex-container {
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  contain: strict;
  .flex-item {
    width: 100%;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    contain: content;
  }
}

.light-text {
  color: map-get($colors, light);
}

.my-form {
  ion-list {
    margin-bottom: 0px !important;
    ion-item {
      border-radius: 20px;
      margin-bottom: 15px !important;
    }
  }

  .buttons-container {
    button[round] {
      height: 45px !important;
      font-size: 16px !important;
      margin-bottom: 15px;
    }

    button[clear] {
      font-size: 16px !important;
      color: white !important;
      text-transform: none;
      text-decoration: underline;
    }

  }
}

.background {
  background-color: map-get($colors, secondary) !important;
}

.send-icon {
  font-size: 22px !important;
  color: map-get($colors, light) !important;
  float: right !important;
  padding-right: 10px !important;
}

.float-left-title {
  float: left !important;
}

ion-card {
  background-color: map-get($colors, light) !important;
}

.div-float-left {
  float: left !important;
  width: 50% !important;
}

.div-float-right {
  float: right !important;
  margin: 0 auto !important;
  width: 50% !important;

}

ion-label {
  font-size: medium;
}
