page-news-list {
  ion-card {
    ion-card-header {
      ion-label {
        float: right !important;
        margin: 1px 0 0 0 !important;

      }
      ion-card-title {
        float: left !important;
        margin: 0!important;
        padding-top: 0!important;
        font-size: large!important;
      }
    }

    ion-card-content {
      float: left !important;
      width: 100% !important;
      margin-top: 0px !important;
      ion-item {
        padding: 0 !important;
        margin-top:-20px!important;
      }
    }
  }

  .has-refresher .scroll-content {
    border: 0 !important;
  }

}
