page-calendar {

  ion-list{
    ion-icon{
      color: #d9d9d9!important;
      font-size: 30px!important;
      float:right!important;
    }
  }


    ion-item{
      margin-bottom:5px!important;
    }


}
